# Ignore dependencies (let container install its own Linux binaries)
**/node_modules
node_modules/

# Ignore version control
.git/
.gitignore

# Ignore build artifacts
**/dist
dist/
**/build
build/
.turbo/
*.tsbuildinfo

# Ignore environment & local files
.env
.env.local
*.env
infra/data/
mongo_data/
redis_data/
minio_data/
caddy_data/
.DS_Store

# Ignore test logs and coverage
coverage/
npm-debug.log*

